.post_page_container { 
  max-width: 1100px;
  margin: 20px auto;
}

.post_page_container img {
  width: 300px;
  margin: 20px;
}

.post_page_container p {
  font-size: 22px;
}

.post_page_container p span {
  font-weight: bold;
}

.text_container {
  background: #e9e7e7;
  border-radius: 6px;
  padding: 20px;
}

span {
  color: bold; 
  font-size: 26px;
}

.author_container {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
}

.author_container h3 {
  margin-right: 4px;
}

.author_container p {
  margin-bottom: 5px !important; 
}

.comments_container {
  margin: 20px; 
  
}

.comments_container ul {
  list-style: none; 
}

.comment_container {
  display: flex;
  margin-top: 20px;
  background: #e9e7e7;
  border-radius: 6px;
  padding: 20px;  
}

.comment_container div {
  padding: 20px 0 0 10px; 
}

.comment_container p, span {
  font-size: 18px;  
}

.comment_list_item {
  list-style: none;
}

h3 {
  font-size: 22px; 
}

h3.active {
  display: block !important;
}

input.active {
  display: block !important;
}


